[2017-07-09 22:59] jgonyea opened #3 "Typo in README"
The partial should be using {% %} instead of {{ }}.  Will fix in next release

[2017-07-11 20:19] #3 closed

[2017-08-31 20:10] jgonyea opened #4 "Create partial for sorting episodes by category"

[2017-08-31 20:10] jgonyea opened #5 "Remove old code for "speaker" taxonomy"

[2017-09-29 21:29] jgonyea commented on #4
This is going to require a rearchitecting of channel->series->episode.

[2017-10-04 03:41] #4 closed

[2017-10-04 03:41] #5 closed

[2017-10-04 18:30] jgonyea opened #6 "Make fields required for the rss feed required in the admin form"

[2017-10-04 18:30] jgonyea opened #7 "Allow multiple categories/ subcategories per channel"

[2017-10-04 18:30] jgonyea opened #8 "Save audio meta data on page save rather than episode page view"

[2017-10-04 18:31] jgonyea opened #9 "Better media player partial"
A playlist partial might be better than having individual media elements.

[2017-10-04 18:32] jgonyea opened #10 "Series and episodes should have links back to their respective parents"

[2017-10-23 16:06] #8 closed

[2017-10-24 03:49] jgonyea opened #12 "Optimize remote-url metadata calculations"
Right now, on every save of a page with a remote URL, the remote file is downloaded.  Adding a toggle field to the remote url area could set whether or not to recheck that metadata.

[2017-10-24 03:51] jgonyea opened #13 "Create a way to not auto-generate GUID"
If someone imports archive episodes, GUID's shouldn't change.  Current configuration of the podcast plugin offers no way of opting out of the GUID generation.

[2018-01-05 03:31] jgonyea opened #14 "Remove broken podcast-host blueprint"
I accidentally added a podcast-host blueprint to the project. This needs to be removed and updated.

[2018-01-05 11:43] #14 closed

[2018-01-30 09:36] lichtist opened #15 "Description is wraped in html tags"
The description is wraped in html tags.:
`<p pass="episode-description">"<p>This is a description</p>"</p>`

should be

`<p class="episode-description">This is a description</p>`

[2018-01-30 09:53] lichtist commented on #15
in podcast/templates/partials/podcast_episodes_list.html.twig

[2018-01-30 09:55] lichtist opened #16 "RSS renders blank site"
.../podcast.rss is blank when podcast plugin is enabled.
It renders after disabling the plugin

[2018-01-30 15:19] jgonyea commented on #15
Thanks.  I'll fix by end of day today along with a couple other minor tweaks.

[2018-01-30 15:21] jgonyea commented on #16
Can you describe your file structure?  Generally, you create a channel and place episodes underneath.  Navigating to channel page and then adding ".rss" at the end (i.e. local.dev/test-channel.rss) should provide the rss feed.

Also, can you let me know what versions of Grav core, podcast, feed, and getid3 you are running?

Thanks.

[2018-05-08 16:48] krodelabestiole opened #17 "can't upload : "Exceeded Grav configuration file size limit""
hello I've just setup the podcast module and I'm try to upload a 190 MB audio (mp3) file.

my PHP values for _post_max_size_ and _upload_max_filesize_ are both set to 1024M, which I can confirm in the Info tab (1024M is 1024 MB right ?)

I've tried to set _filesize_ in the form plugin configuration to both 1024 and 0, to no success.
As well a _system.media.upload_limit_ to both 0 and 8589934592 (s

[2018-05-08 16:53] krodelabestiole commented on #17
alright after some search I found the limit size to be hardcoded in a blueprint out there :
https://github.com/jgonyea/grav-plugin-podcast/blob/develop/blueprints/podcast-episode.yaml

How am I supposed to change that ?

[2018-05-08 17:05] krodelabestiole commented on #17
I guess it would be way simpler to just change line 41 to :
`filesize: 0`

also there's a typo on line 72 :
`fileszie`

and maybe it would be better to allow any audio format on line 44 :
 `- 'audio/*'`

[2018-05-08 17:54] krodelabestiole opened #18 "summary can truncate html, and break it"
I tried to implement an audio player manually since I get a "no audio" message and no audio player working then I had my html broken.

I think this method is too simplistic :
{{ (episode.summary)|truncate(120) }}
line 27 https://github.com/jgonyea/grav-plugin-podcast/blob/develop/templates/partials/podcast_episodes_list.html.twig

I guess the fact that audio player doesn't work might have somethin

[2018-05-08 18:29] krodelabestiole opened #19 "can't get rid of ( no audio )"
I can't get rid of this message, I tried with many files some with valid Id3 tags.

From the source code I can tell the test is based on episode.header.podcast.audio.meta.duration
https://github.com/jgonyea/grav-plugin-podcast/blob/develop/templates/partials/podcast_episodes_list.html.twig

But I can't get any meta on any file.
getId3 plugin is installed and activated, the metadata editor from the

[2018-05-09 17:07] jgonyea commented on #16
Closing ticket due to no response.  Will reopen if more information comes in.

[2018-05-09 17:07] #16 closed

[2018-05-09 17:19] jgonyea commented on #17
Thanks for reporting these.

I'll fix the typo and update the available types.

As for the max filesize, I think I'll move that to the plugin configuration.

[2018-05-09 18:12] jgonyea commented on #19
The podcast metadata ends up in the header for the page.  I'll look into why the player isn't connecting to the file correctly.

[2018-05-09 18:34] jgonyea commented on #19
I see the problem.  The episode twig file references the location by relative url, when it really is an absolute (should have a preceding "/").

[2018-05-09 19:08] jgonyea commented on #12
Recalculate field would be useful for pages with local media that are moved in the filesystem.

[2018-05-14 14:59] jgonyea commented on #15
Fixed in new release.

[2018-05-14 14:59] #15 closed

[2018-05-14 14:59] jgonyea commented on #15
Fixed in new release.

[2018-05-14 15:00] jgonyea commented on #17
Fixed in new release.

[2018-05-14 15:00] jgonyea commented on #18
Fixed in new release.

[2018-05-14 15:00] #18 closed

[2018-05-14 15:00] jgonyea commented on #19
Fixed in new release.

[2018-05-14 15:00] jgonyea commented on #19
Fixed in new release.

[2018-05-24 00:21] tlflow opened #20 "Extra slash in front of remote URL"
I'm copying and pasting the URL into the "External Files" field on the Podcast Audio tab of a Podcast Episode page. Now, after saving the page, there's an extra "/" in front of the path so the path won't work as it's trying to make the path a relative path.

For example, <audio controls="1" alt="episode.title"><source src="/https://s3.amazonaws.com/...

(see the slash in front of the https:// abov

[2018-05-24 00:27] jgonyea commented on #20
Crud, you're right.  I forgot about the absolute urls. I'll push a fix shortly.

[2018-05-24 00:41] jgonyea commented on #20
@tlflow If possible, could you send me a copy of your header matter to check against?  Thanks!

[2018-05-24 02:27] tlflow commented on #20
Sure, here goes the matter from my client's podcast:

title: 'I Have What It Takes'
subtitle: 'Real Talk Table Talk Sermon Series'
podcast:
    audio:
        remote: 'https://s3.amazonaws.com/copclt-media/sunday-services/2018/I+Have+What+it+Takes+5-20-18.mp3'
        meta:
            guid: 'https://s3.amazonaws.com/copclt-media/sunday-services/2018/I+Have+What+it+Takes+5-20-18.mp3'
            t

[2018-05-25 17:56] jgonyea commented on #20
Pushing fix now.  Check your gpm shortly.

Thank you @tlflow for your patience.

[2018-05-25 17:56] #20 closed, assigned to jgonyea

[2018-07-25 14:12] ElliotWilde opened #21 "Layout/Styling"
Hey,

This may have been opened and answered elsewhere or I might be missing something.

Are the podcast pages supposed to inherit the styling of the theme?

I tried a few themes but always get the same 'broken' looking layout and theming on the podcast pages.

Pic: https://ibb.co/eco63o

Cheers
Elliot

[2018-07-31 00:28] jgonyea commented on #21
Styling needs attention in this plugin, that's for sure. I'll see what I can do to follow more of a theme's styling.

[2018-08-14 13:47] jgonyea commented on #21
Episodes seem to look OK, but the podcast pages are definitely broken.

[2018-10-05 08:56] reiner commented on #21
Hey there. I was wondering if miss any Grav settings here? HTML parameters are showing up
https://reinergaertner.de/podcast

Do you have any quick fix for that?

Thank you

[2019-01-31 16:34] jgonyea opened #22 "Update/ Remove Gemfile ffi dependency"
The current gemfile ffi (1.9.24) has been noted as having security issues.  This either needs to be removed or updated.

[2019-02-11 19:39] jgonyea commented on #22
Fixed in v2.1.4

[2019-02-11 19:39] #22 closed, assigned to nobody

[2019-02-21 16:20] dragonito opened #23 "Check file exists"
Check if file exists in /user/plugins/podcast/podcast.php:166

[code]

if you remove file and add it new, the old files are in configuration. Perhaps you could add a filecheck, it not there will be a big exception.

[2019-03-01 07:43] dragonito opened #24 "Spotify RSS Feed"
Hi there,

i would like to add the rss feed to Spotify, but Spotify says 'Your RSS feed failed to load. Make sure you added the right link.' Itunes worked well. There are no further information about the problem with Spotify, perhaps you got some ideas to fix it.

I found a guideline:

https://podcasters.spotify.com/terms/Spotify_Podcast_Delivery_Specification_v1.5.pdf

Thanks a lot

Robin

[2019-03-01 22:41] dragonito commented on #24
I replaced following

[code]

to

[code]

works :D

[2019-03-02 07:58] jgonyea commented on #24
Hm, what's the difference that the safe truncate isn't doing that the truncate is? Could you send me a sample episode page Markdown?

[2019-03-03 12:15] jgonyea commented on #24
Can you also provide what the before/ after result of the rss was? Thanks

[2019-03-03 14:49] dragonito commented on #24
I use ```&#x2026;``` instead of ```&hellip;```, rss-xml doesnt support hellip and i got errors about it from Spotify. You could cdata the content or use an other variant like ```&#x2026;```

I could post you an example of it, when i am @ my pc. I you like i could fix it with an mr.

[2019-03-03 23:31] jgonyea commented on #24
I'll have this fixed in the next release.  Thanks.

[2019-03-03 23:32] jgonyea commented on #23
Can you tell me more of what you mean by the old files are in configuration?

Thanks

[2019-03-04 12:22] dragonito commented on #24
Nice :D thx a lot

[2019-03-07 04:32] jgonyea commented on #23
This will get solved with #12

[2019-03-07 04:32] #23 closed, assigned to nobody

[2019-05-18 18:25] Pixaster opened #25 "Podcast Plugin Kills all RSS Feeds on Site"
Hi there! Having kinda the same problem like lichtist on 9 May 2018. When activating the podcast plugin, every RSS on my website will be blank and I cant figure out why. For example, the blog.rss works perfectly fine as long the plugin isn't installed or activated. The generated .rss for Podcast-Channel is also blank. Running on Podcast v2.1.4, GetId3 v1.0.3, Feed  v1.7.1 and Grav 1.6.9.

Thanks a

[2019-05-19 21:22] jgonyea commented on #25
Thanks for the report. I'll look into this as soon as I can.

[2019-05-19 21:38] jgonyea commented on #25
Would you be willing to share your site (or at least a stub of it) so I can figure the problem out?

[2019-05-20 10:32] Pixaster commented on #25
Of course: http://reaperette.com/Testgrav/grav-admin/

Was playing around a bit more and figured out, that the podcast plugin didn't liked that I put "de" in the supported languages and also forced "de" as language in grav config. So the Podcast RSS feed works now - but the main blog.rss is still dead.

thanks for the support!

[2019-05-21 22:02] jgonyea commented on #25
I don't have much experience with other languages. Could you send me a zip of your site that I could troubleshoot?

[2019-05-24 12:16] Pixaster commented on #25
hi! Short heads up - I'm busy over the next few days. I should be able to provide you a zip on monday. Have a nice weekend!

[2019-05-29 20:29] Pixaster commented on #25
So - here is the directory. If you need it  User: pixaster PW: Admin1234
http://www.reaperette.com/podtest.rar

there is nothing of value on there

[2019-12-10 16:49] marywarrington opened #26 "Undefined index: mime_type with remote podcast"
I'm getting the attached error when I try to save a remotely hosted podcast. It doesn't happen locally, but does on our live site, which leads me to think it's a permissions issue. Any guidance would be greatly appreciated!

<img width="1034" alt="Screen Shot 2019-12-10 at 8 45 59 AM" src="https://user-images.githubusercontent.com/16548012/70550002-f7030200-1b29-11ea-85a8-f22256534762.png">

[2019-12-18 13:20] jgonyea commented on #26
Can you send me the URL of your remote resource?

[2019-12-30 21:58] marywarrington commented on #26
@jgonyea turns out this was a server permissions / corrupt file issue! Closing the issue!

[2019-12-30 21:58] #26 closed, assigned to nobody

[2020-01-26 09:00] leonceaklin opened #28 "No processing in multilang websites"
The plugin doesn't get the metadata of audio files when the Grav installation has multiple languages enabled.

This is because of [line 83 in podcast.php](https://github.com/jgonyea/grav-plugin-podcast/blob/develop/podcast.php#L83):
`if (!($obj instanceof \Grav\Common\Page\Page) || $obj->name() != 'podcast-episode.md') {`

In my setup, `$obj->name()` has the value `podcast-episode.de.md`.
You shou

[2020-01-29 03:40] jgonyea commented on #28
Addressed in ver 2.1.5

[2020-01-29 03:40] #28 closed, assigned to nobody

[2020-01-29 03:40] jgonyea commented on #25
Addressed in ver 2.1.5

[2020-01-29 03:40] #25 closed, assigned to nobody

[2020-01-29 03:40] jgonyea commented on #24
Addressed in ver 2.1.5

[2020-01-29 03:40] #24 closed, assigned to nobody

[2020-02-12 08:17] dragonito opened #29 "Extend rss with episode number"
Hi there,

perhaps you could extend the rss like this (so i dont need an extra twig file for this):

`<itunes:episode>{{ episode.header.podcast.number }}</itunes:episode>`

Would be really great.

Robin

[2020-08-04 11:50] sdelice opened #30 "Value of the Chanel Url field is not set the link tag in the RSS field and http head request support for Apple Podcasts"
When I create a Podast channel Page, the value of the field Channel URL has no effect in the RSS field. By defautlt, it is set with the Grav Page Channel url but i want to add the exention .rss or .xml just like this rss feed :

https://www.democracynow.org/podcast.xml

I really whant to have the control of the field because when i check the rss feed generate by grav-plugin-podcast witth castfeedv

[2020-09-18 19:07] jgonyea commented on #30
* Your RSS feed should be linked in the head of your podcast website, using a link tag.
I've updated the link tag to use the Channel Link field. Look for this in the next version.
* No website URL found for most recent episode. Did not finish website tests.
Added links for each episode. Look for this in the next version.
* We couldn't find any subscribe links on your feed webpage. We recommend at

[2020-09-18 19:47] jgonyea commented on #29
Fixed in 2.1.6

[2020-09-18 19:47] #29 closed, assigned to nobody

[2020-09-18 19:48] jgonyea commented on #30
Fixed noted items in 2.1.6.

[2020-10-17 12:54] PalmTreeVI opened #31 "Missing brackets"
File  /user/plugins/podcast/templates/partials/podcast_episodes_list.html.twig
Missing {{ }} around alt="episode title" currently line 39
`                        <audio controls="1" alt="episode.title"><source src="{{media_url}}">Your browser does not support the audio tag.</audio>
`

[2020-10-19 23:10] jgonyea commented on #31
Fixed in 2.1.7  Thanks!

[2020-10-19 23:10] #31 closed, assigned to nobody

[2020-10-27 13:00] sdelice opened #32 "Save Failed: Cannot set nested property header podcast audio local {$filename}.mp3 on non-array value"
Hi,
Since i've update the plugin on my Grave CMS instance, i'm no more enable to create and save new page. For exemple i have this error below :
Save Failed: Cannot set nested property header podcast audio local {$filename}.mp3 on non-array value

Is it a bug ?

[2020-10-27 13:27] jgonyea commented on #32
Hi,

Which version of Grav, admin, and podcast plugins are you running?

[2020-10-27 20:09] sdelice commented on #32
Thanks in advance for taking my issue into consideration.
Here wich version of grav admin and podcast plugin i'm running :
 Admin Panel  v1.10.0-rc.17 test release
 Admin Addon Media Metadata v1.1.0
Podcast v2.1.7

[2020-10-30 08:57] sdelice commented on #32
Any idea ?

[2020-11-04 19:43] jgonyea commented on #32
Can you try again with the stable version of the admin plugin?

[2020-12-04 10:33] sdelice commented on #32
Every thing is OK with the stable version of the admin plugin.
Thanks you !

[2020-12-04 10:40] sdelice commented on #21
Hi,
In definitive, does the podcast page inherit the stylling of the page ? Is it possible to customize the player ?

[2020-12-04 12:19] #32 closed, assigned to nobody

[2020-12-06 20:06] sdelice opened #33 "Field Episode Summuray not available"
Is it normal that the field summary for episode item not available ?
I really need this field so as to put the description of an episode...
Could you please add it ?

[2020-12-06 20:09] sdelice commented on #33
Is it normal that the field summary for episode item not available ?
I really need this field so as to put the description of an episode...
Could you please add it ?

[2020-12-12 06:18] sdelice commented on #33
Sorry, it's Ok i found how to fill the episode item summary

[2020-12-12 06:18] #33 closed, assigned to nobody

[2020-12-12 06:33] sdelice opened #34 "How to list all podcasts series available in a podcast channel?"
I use my grav podcast rss channel feed to show in an other wbesite all my podcast and series availables...
But the rss feed only give the link to episodes. But as the number of episodes could be high, i would like to show only the podcasts series and then when the user click on a serie, he can view only the episode available in a serie. Is it possible to get all series available in a podcast chann

[2021-01-13 11:20] hiperterminal opened #35 "No RSS generated"
Hi!

I am using this plugin [for my website](http://hiperterminal.com/septetocamajan/) but there is no RSS. I am using podcast v2.1.7 on Grav v1.6.31

Any idea of what it can be?

Thanks in advance!!

[2021-01-18 23:18] jgonyea commented on #35
Hi! There should be two other dependencies for the podcast plugin.  Have you verified that GetID3 and the Feed plugin are installed?

[2021-01-19 15:29] hiperterminal commented on #35
Yes,  GetId3 v 1.0.3 and Feed v 1.8.0. Both enabled.

[2021-01-20 14:55] jgonyea commented on #30
Closing issue for now.  HTTP head requests is a server related thing.

[2021-01-20 14:55] #30 closed, assigned to jgonyea

[2021-01-20 14:56] jgonyea opened #36 "Ensure Grav 1.7 Compatibility"
Make sure that podcast is compatible with Grav v1.7.

Known issues:

~~* #38 Save Failed: Cannot set nested property~~
~~* #35 RSS not being generated~~
~~* #21 Layout and styling needs work~~
~~* #10 Series and Episode pages should link upwards to their respective parents~~
~~* https://github.com/getgrav/grav-plugin-auto-date/issues/8 Auto-date not working on Grav 1.7~~

Notes:
Auto-date requirem

[2021-01-20 15:19] jgonyea commented on #35
Are you putting your episodes underneath a podcast channel page?

[2021-01-20 15:22] hiperterminal commented on #35
Yes, I am following the sequence Chanel > Series > Episodes.

[2021-01-20 16:15] jgonyea commented on #36
There's an issue with the content on an episode page.  Will push a fix shortly

[2021-01-20 18:09] jgonyea commented on #35
Which page are you on where you're trying to find the rss feed?

[2021-01-20 18:11] jgonyea commented on #35
Oh, I see, it's something most likely due to the language selection.  Let me look at how I can do that.

If I manually make the URL contain the language (e.g. 'es'), then the rss feed file is available.

[2021-01-20 18:33] jgonyea commented on #35
I will be pushing a fix in Podcast 2.1.9 for multilanguage by the end of the day.

I think you might need to add the lines from this section:
https://learn.getgrav.org/17/content/multi-language#multi-language-basics

Specifically, the one about including the default language.

[2021-01-20 21:55] jgonyea commented on #35
I just published 2.1.9.  Try updating to that and see if that fixes your issue.

[2021-01-20 22:58] jgonyea commented on #36
Everything appears to be working in 2.1.9

[2021-01-21 09:04] hiperterminal commented on #35
Thanks!! it works for the series, but not for the channel.

[2021-01-21 18:13] jgonyea commented on #35
I found the issue.  In the feed.rss.twig, I was looking for file name specifically `podcast-channel.md`, which wouldn't find multi-language pages (podcast-channel.es.md).  Changed the check to look for page.template, and the feed should now be functioning properly.

Fixed in v2.1.10.  Please let me know if it works for you.

[2021-01-22 13:33] hiperterminal commented on #35
Here what happened:

* **Channel**:
  * The rss link at the channel page appears, now it says "Podcast channel | <page name>" which is good, but the link is broken, it aims to /es/.rss (and should be /es/<page name>.rss)
  * If I try to read the channel rss (/es/<page name>.rss) in a feed reader it does not work
* **Series**:
  * The rss link at the series page appears.
  * The rss link is working

[2021-01-22 15:34] jgonyea commented on #35
I had to clear my local cache, but when I visit your channel page (http://hiperterminal.com/septetocamajan/es), I'm able to click on the rss feed and it shows me an RSS feed.

[code]

[2021-01-22 15:35] jgonyea commented on #35
Also, thanks for your patience on this.  I'm not a multi-lingual speaker, so I appreciate your help in diagnosing issues with this.

[2021-01-22 15:59] hiperterminal commented on #35
I was trying the feed [in this web](https://rssatom.com/) and I imagine they can not read it because there is no name in the file, just the format (.rss). I open the link in http://hiperterminal.com/septetocamajan/es and yes, I can see the same in a notepad.

And thank you very much for that note about patience. I am a little bit ashamed because I can not change the code yet (it is my first Grav w

[2021-01-22 16:12] jgonyea commented on #35
Can you send me your languages section from your system.yaml?  I just rebuilt a site and I'm seeing urls like this:
hostname/es/septetocamjan

vs yours which has the language at the end
hostname/septetocmjan/es

[2021-01-22 17:13] hiperterminal commented on #35
I am not sure if you need this, let me know if is another thing:

[code]

[2021-01-22 20:08] rzw commented on #36
This is still an issue. I get:

Save Failed: Cannot set nested property header podcast audio local {$filename}.mp3 on non-array value

Grav v1.7.3 - Admin v1.10.2
PHP Version 7.4.11

Is there a workaround? Can I just upload a file and enter path in episode?

[2021-01-22 20:10] rzw opened #37 "See last comment in closed issue #36"

[2021-01-22 20:16] jgonyea opened #38 "Save Failed: Cannot set nested property"
![image](https://user-images.githubusercontent.com/1057441/105540745-b54d0080-5cc4-11eb-8cc9-e649f798f5eb.png)

In Grav 1.7 with Flex-objects Pages enabled, this error occurs when attaching media to file fields.

[2021-01-22 20:17] jgonyea commented on #38
Current workaround:
In Flex-Objects plugin, disable Directories->Pages (Admin)

I'm exploring other options for file uploads.

[2021-01-22 20:19] jgonyea commented on #36
@rzw, see #38 for current workaround

[2021-01-22 20:30] jgonyea commented on #37
Added to meta ticket.

[2021-01-22 20:30] #37 closed, assigned to nobody

[2021-01-23 18:18] jgonyea commented on #38
I have a fix I'm working on right now.  I'll be changing the file field to a filepicker field.  All media (images, audio, etc) will be added to the media field and the filepicker will choose from the uploaded files.

[2021-01-23 18:19] jgonyea commented on #35
No, I was looking for your language settings from the system.yaml file.

[2021-01-23 18:34] jgonyea commented on #38
The fix will be backwards compatible with existing content, as well.

[2021-01-24 06:41] jgonyea commented on #38
A major revision will (hopefully) be coming this weekend.

[2021-01-24 06:43] jgonyea commented on #35
I'm doing a major overhaul to hopefully better support multilang in Grav 1.7.  I expect it to be finished this weekend.

[2021-01-24 06:44] jgonyea commented on #21
All pages will be getting a major overhaul in v3.0.0.  I hope to get it out this weekend.

[2021-01-24 06:45] jgonyea commented on #9
The default one is working.  Going to leave it alone for now.

[2021-01-24 06:45] #9 closed

[2021-01-24 06:45] jgonyea commented on #10
This will be fixed in 3.0.0

[2021-01-24 06:48] jgonyea commented on #34
This will be fixed in v3.0.0.  I intend on getting that out this weekend.

[2021-01-24 06:50] jgonyea commented on #13
At this point, I don't think there will be a good way of doing this.  Will close for now and open a new ticket if it becomes an issue for someone.

[2021-01-24 06:50] #13 closed

[2021-01-24 06:53] jgonyea commented on #36
@rzw, a new 3.0.0 release should be coming out this weekend to address all items above in this meta ticket.

[2021-01-24 12:56] hiperterminal commented on #35
Sorry, I think is this one, if no, let me know:

[code]

[2021-01-24 14:35] jgonyea commented on #35
Perfect, thanks.

[2021-01-25 07:24] jgonyea commented on #38
Resolved now in v3

[2021-01-25 07:24] #38 closed, assigned to jgonyea

[2021-01-25 07:25] jgonyea commented on #35
Version 3.0.0 was just released.  Can you take a look and see if the issues are now resolved?

[2021-01-25 07:27] jgonyea commented on #21
Fixed in v3.0.0

[2021-01-25 07:27] #21 closed, assigned to nobody

[2021-01-25 07:47] jgonyea commented on #10
Fixed in 3.0.0

[2021-01-25 07:47] #10 closed

[2021-01-25 07:47] jgonyea commented on #34
Fixed in 3.0.0

[2021-01-25 07:48] jgonyea commented on #34
I realize now that I only have a partial listing of the the series.  I need to create new page for displaying all series.

[2021-01-25 09:05] hiperterminal commented on #35
There is a Twig error and the whole website is down. [Here the website](http://hiperterminal.com/septetocamajan/es) showing the error.

Thanks!

[2021-01-25 09:09] jgonyea commented on #35
Whatever page that's on, can you reopen it and resave it?

[2021-01-25 09:40] jgonyea commented on #35
I think I see one issue. Line 13 shouldn't have a '|first'. I'll push 3.0.1 in a handful of hours.

[2021-01-25 14:57] jgonyea commented on #35
@hiperterminal , what version of Grav core and admin are you on?  You should be on the latest of both

[2021-01-26 08:31] hiperterminal commented on #35
It's the latest of both: Grav v1.7.3 - Admin v1.10.2

[2021-01-26 19:04] agentirons opened #39 "Audio/local/path and Audio/meta/guid not using folder number prefixes"
After updating to v3.0, I found that the format of the image and audio tags had changed slightly and prevented me from loading the page editor until I removed or modified the image tag (separate issue). After I fix this and open the editor, if I select the .mp3 media from the dropdown on the Podcast Audio tab, the Audio:local:path: field and the Audio:meta:guid field do not use the folder number p

[2021-01-27 01:32] jgonyea commented on #39
I have the following structure:

[code]
I do see the lack of the numbered routes:
[code]
But I'm still able to route the files just fine on the front-end.  Can you clear your cache and try viewing again?

![image](https://user-images.githubusercontent.com/1057441/105929476-aee8bc80-6015-11eb-8145-1a7107b3db65.png)

[2021-01-27 01:39] jgonyea commented on #35
Could you send me your user/pages folder zipped up, minus any audio?  I can't replicate the issue anymore.

[2021-01-27 12:23] hiperterminal commented on #35
Sure! here you have the [pages.zip](https://github.com/jgonyea/grav-plugin-podcast/files/5880117/pages.zip)

[2021-01-27 14:40] jgonyea commented on #35
Found the issue!

It has to do with the breaking changes of the image field I had to make to get around the Grav 1.6 file field -> Grav 1.7 filepicker field issue.

To manually fix, open each page that has an image.  If you're doing this locally, it probably will be faster to open the *.md files in a text editor.

You'll see something along the lines like:
[code]

This needs to be changed to:
[cod

[2021-01-27 16:11] jgonyea commented on #39
I just also realized that images also broke.

It has to do with the breaking changes of the image field I had to make to get around the Grav 1.6 file field -> Grav 1.7 filepicker field issue.

To manually fix, open each page that has an image. If you're doing this locally, it probably will be faster to open the *.md files in a text editor.

You'll see something along the lines like:
[code]

This n

[2021-01-27 16:12] jgonyea commented on #39
I'll work on seeing if I can get the admin plugin to automatically update that field when you go and attempt to edit the page.

[2021-01-27 18:58] agentirons commented on #39
Here's the entirety of what I've experienced (after an upgrade to 3.0.1 and a cache-clear):

1. Try to edit a page through the GUI, and receive the following error: ```0 - An exception has been thrown during the rendering of a template ("Array to string conversion").```
2. Manually modify the image info from podcast-episode.md. Now I can edit the page through the GUI.
3. Reenter the subtitle in th

[2021-01-27 20:11] agentirons commented on #39
Steps 6 and 7 appear to be due to large differences in the templates for the plugin, which I had extended/modified from an earlier version. I'm attempting to weed through the changes to keep my styling intact, but I can report that I've had success using the new audio link format.

I needed to change the `<audio><source>` from {{ media_url }} to {{ page.header.podcast.audio.meta.guid }}

[2021-01-28 03:17] jgonyea commented on #39
I'm currently working on a one-time upgrade cli command that will process all of the v2 podcast-* page types and convert them up to v3 podcast-* page types.

[2021-01-28 12:34] hiperterminal commented on #35
It works! Thanks a lot!!

Nice look and feel by the way.

[2021-01-28 18:23] #35 closed, assigned to jgonyea

[2021-02-28 01:18] csimsbsr opened #40 "Unable to add locally hosted file, when attempting to save: Save Failed: Undefined index: mime_type"
I've set up Grav on both an Nginx and Apache server, then installed Podcast and dependencies via the admin plugin, but both give me the same issue when trying to add the episode to the podcast audio tab. The page media upload is fine and it will save, it also works fine with setting an episode image, but it refuses to save and returns "Save Failed: Undefined index: mime_type" when trying to save a

[2021-03-01 00:34] csimsbsr commented on #40
After many hours of testing, and ending up trying WordPress and getting similar errors, I have since discovered that for some reason some MP3 files saved by WavePad sound editor send false information to the server when uploaded, causing the mime-type error.

[2021-03-01 00:34] #40 closed, assigned to nobody

[2021-03-05 01:19] rzw commented on #36
I haven't tested. But thanks.

[2021-03-22 21:56] #36 closed, assigned to jgonyea

[2021-06-27 19:34] graphographer opened #41 "Using "feed" instead of "content" in frontmatter breaks feed plugin"
Feed v1.8.5 will only generate RSS for pages that contain a `content` field in its frontmatter. Meanwhile, Podcast v3.0.1 creates a podcast channel with a `feed` field instead. When `www.example.com/my-channel.rss` is visited, the regular HTML page is rendered instead of XML. Changing `feed` to `content` causes everything to work as expected.

[2021-07-15 13:43] jgonyea commented on #41
Sorry, I haven't been able to reproduce what you're seeing.  Could you send me an example set of pages?

[2021-09-15 14:25] ianharrier opened #42 "HTML page generated instead of RSS feed"
Something similar to #35 might be happening again. Both my [.rss URL](https://www.stlyabsf.org/podcast.rss) and @hiperterminal's [.rss URL](http://hiperterminal.com/septetocamajan/es/.rss) seem to be generating the HTML page rather than the RSS feed.

In my case, I'm running:
- Grav 1.7.21
- Admin 1.10.21
- Feed 1.8.5
- GetId3 1.0.3
- Podcast 3.0.1

I've tried reading through the source code for t

[2021-09-18 02:21] jgonyea commented on #42
Thanks for the info!

I'll look at this shortly

[2021-09-18 02:53] jgonyea commented on #42
I think the issue stems from the Feed plugin.  For now, rollback the feed plugin to version 1.8.1 as the current workaround, @ianharrier

[2021-09-18 05:00] ianharrier commented on #42
Thank you! I can confirm that rolling the Feed plugin back to 1.8.1 resolves the issue.

[2021-09-18 19:41] jgonyea commented on #42
Glad it's working for you again.  I'll try to find out if there's something I'm doing wrong with the podcast plugin with regards to the feed plugin.

[2021-10-01 21:07] PlayBoxTech opened #43 "Can't Mark Episode not explicit"
Adding my first episode and it giving me the warning:
# Invalid input in "Explicit Content"
## Failed to save entry: Form validation failed, please check your input

However if you check the image its marked as not explicit. Is there something I'm missing?
![ArcoLinux_2021-10-01_16-04-38](https://user-images.githubusercontent.com/35372112/135686280-af891b4f-721b-42aa-b152-d56c99428f19.png)

[2021-10-01 23:20] PlayBoxTech commented on #43
Per your request:

- Admin Panel v1.10.23
- Breadcrumbs v1.6.1
-  Feed v1.8.5
-  GetId3 v1.0.3
-  Podcast v3.0.1
- Grav 1.7.13

[2021-10-01 23:56] jgonyea commented on #43
I believe this is now fixed in Podcast v3.0.2

[2021-10-01 23:56] #43 closed, assigned to nobody

[2021-10-02 00:07] PlayBoxTech opened #44 "Suggestion: Default Episode Author"
It would be cool if the Episode Author could be pre-filled in based on Plugin settings.

[2021-10-02 02:35] jgonyea commented on #42
This is now fixed in Podcast v3.0.3.  Resave existing content will automatically fix the header to include the appropriate fields.  New content will contain the fields automatically.

[2021-10-02 02:35] #42 closed, assigned to jgonyea

[2021-10-02 02:35] jgonyea commented on #41
This is now fixed in Podcast v3.0.3.  Resave existing content will automatically fix the header to include the appropriate fields.  New content will contain the fields automatically.

[2021-10-02 02:35] #41 closed, assigned to nobody

[2021-10-04 03:59] jgonyea commented on #44
I like this idea.

Would taking the currently signed in grav user's name (not username) as the default suffice?

[2021-10-04 09:22] PlayBoxTech commented on #44
Yes, that would work also

[2021-10-04 19:53] jgonyea commented on #44
Fixed in 3.0.4

[2021-10-04 19:53] #44 closed, assigned to nobody

[2021-10-13 00:48] ianharrier commented on #42
3.0.3 fixed the issue for me. Thank you, @jgonyea!

[2021-11-07 23:23] snowboarder04 opened #46 ""Array and string offset access syntax with curly braces is no longer supported""
I'm trying to add a regular, short .mp3 as an episode but I'm getting this error when hitting 'Save' on an episode page.

I've tried updating the idv3 tags using a couple of different apps but it doesn't seem to make any difference.

[code]

[2021-11-08 00:05] snowboarder04 commented on #46
Ah, yeah, apparently I'm running PHP 8.0.12 :/

[2021-11-08 00:05] #46 closed, assigned to nobody

[2021-11-08 13:58] jgonyea commented on #46
This is an issue with the get-id3 php library being used.
See https://github.com/jgonyea/grav-plugin-get-id3/issues/6

[2021-11-19 09:19] Limezy opened #47 "Is there a way to setup basic http auth ?"
Hi !
Thanks for this awesome project.
I would like to setup a private podcast --> is there a way to setup basic http auth ?
I've tried using a restriced login access to the podcast page, but that seems not to be compatible with Apple Podcast app.
Thanks :)

[2021-11-19 10:17] Limezy opened #48 "Is there a max upload size setting somewhere ?"
If yes, I didn't find it. I get that annoying warning every time I try to upload an episode .mp3:
![image](https://user-images.githubusercontent.com/24638389/142606240-9bb12b10-1fe2-475b-a11a-042d6c6a76a3.png)
Thanks for your kind help

[2021-11-19 13:01] jgonyea commented on #48
First place to check is your php.ini file. Look for the parameter max_upload_size

https://stackoverflow.com/questions/2184513/change-the-maximum-upload-file-size#2184541

If that is already changed to be larger that your ~42MB file, then check the podcast plugin settings.

[2021-11-19 15:55] Limezy commented on #48
Many thanks for your fast answer. I'll check as per your advice.

[2021-11-19 16:46] Limezy commented on #48
It worked after both changing nginx setting and adding the following in my `/etc/php/7.3/fpm/pool.d/grav.conf`

[code]

Thanks again for your help !

[2021-11-19 16:46] #48 closed, assigned to nobody

[2021-12-05 07:22] jgonyea commented on #47
Basic http auth would be something you would setup via your apache application
https://httpd.apache.org/docs/2.4/howto/auth.html

[2022-03-01 20:48] aleclerc7 opened #49 "In English, the word "series" must not be pluralize"
Hello,

**podcast_series_list.html.twig line 3**:
`{{ 'PLUGIN_PODCAST.WORDS.SERIES'|t|e|pluralize }}`
should be:
`{{ 'PLUGIN_PODCAST.WORDS.SERIES'|t|e }}`

Otherwise it gives the word "Sery" which is not an English word. Series is series in singular and plural. :-)

Kind regards.

[2022-03-01 20:51] aleclerc7 opened #50 "Opening h3 closing h2"
Hello,

**partials/podcast_episodes_list.html.twig line 27-31**:
[code]
It opens an h3 tag but closes with h2.
Line 31 should be `</h3>`

Kind regards.

[2022-03-01 21:10] aleclerc7 opened #51 "Code simplification for datestamp fallback"
Hello,

**partials/podcast_episodes_list.html.twig lines 12-18**:
[code]
It can be written in one line:
`{% set datestamp = e.header.publish_date ?: e.header.date ?: e.modified %}`

Kind regards.

[2022-03-05 22:05] jgonyea commented on #51
Thanks.  I'm aware of the ternary syntax, but I find the extra cognitive load to not be worth the lesser number of code lines.

[2022-03-05 22:05] #51 closed, assigned to nobody

[2022-03-05 22:46] jgonyea commented on #50
Whoops!  Thanks for the heads up.  This will be fixed in the next release

[2022-03-05 22:47] jgonyea commented on #49
Will be fixed in next release.  Thanks

[2022-03-05 22:56] jgonyea commented on #50
Fixed in latest release

[2022-03-05 22:56] #50 closed, assigned to jgonyea

[2022-03-05 22:56] jgonyea commented on #49
Fixed in latest release

[2022-03-05 22:56] #49 closed, assigned to jgonyea

[2022-03-10 03:23] #47 closed, assigned to nobody

[2022-03-14 21:06] aleclerc7 opened #52 "Translation for French and Portugues"
Hello,

I would like to submit the following translations in French and Portuguese. (Not for the Admin, but the end user side.)

[code]

I am not native speaking in Portuguese but know a little bit. I did not make that translation reviewed but it looks OK.

Kind regards.

[2022-03-15 00:41] aleclerc7 opened #53 "Translation of an hardcoded string"
Hello,

partials/podcast_episodes_list.html line 33 has:
[code]
it should be:
[code]

Kind regards.

[2022-03-15 16:13] jgonyea commented on #52
Many thanks!

Could you submit a PR for this change?  If you don't have time, I'll just pull the translations in manually.

[2022-03-15 17:07] aleclerc7 commented on #52
I think I managed to do it. It should be there.

[2022-03-15 19:52] aleclerc7 commented on #52
Has been merge. Thanks! :-)

[2022-03-15 19:52] #52 closed, assigned to aleclerc7

[2022-03-18 03:17] jgonyea commented on #53
Deployed in latest version.

[2022-03-18 03:17] #53 closed, assigned to jgonyea

[2022-03-19 05:43] jgonyea opened #56 "Podcast plugin feed.rss.twig override is applying sitewide, causing blank rss feeds."
Due to how I'm overriding the default feed.rss.twig file, if someone attempts to create a "normal" feed elsewhere on the site, the rss feed returns blank.

[2022-03-19 05:46] jgonyea commented on #56
Bandaid fix is to apply the following to the podcast's feed.rss.twig at the end of the file:

[code]

[2022-03-19 06:09] jgonyea commented on #56
Addressed in 3.0.7

[2022-03-19 06:09] #56 closed, assigned to jgonyea

[2022-03-21 21:19] jgonyea opened #57 "Series should be restricted to the channel they belong to"
![image](https://user-images.githubusercontent.com/1057441/159365469-ee801917-986c-4932-8967-23f0c9fbfd0c.png)
Series belonging to other channels are showing up in every other channel.  The collections need to be tweaked to not include them.

[2022-03-21 21:26] jgonyea commented on #57
This will be fixed in the new release.

[2022-03-21 21:26] #57 closed, assigned to jgonyea

[2022-03-21 21:30] jgonyea commented on #39
I've decided to not write en-masse converter.

Closing ticket.

[2022-03-21 21:30] #39 closed, assigned to jgonyea

[2022-03-28 23:30] aleclerc7 opened #61 "Feed: Podcast title should come from page.header.podcast.title"
Hello,

Ideally, `page.header.podcast.title` should be used in `feed.rss.twig` as the `<title>` value (line 11). The page's title can be used for other purposes, but the podcast title is what it is. But this would be a breaking change for actual users to make such a change. I nevertheless send this comment in case such a change would be considered in a future major version that would introduce bre

[2022-09-10 14:34] karlquint opened #62 "Podcast title in RSS feed from wrong field"
The podcast title for the RSS feed is not being taken from the correct field. It is now taken from the page title instead of the "Channel Meta / Podcast title" field. Refers to current version of the plugin.

[2022-09-10 14:36] karlquint commented on #61
+1, and the current description of the fields is misleading, says that RSS feed podcast title is from "Channel Meta" tab

[2022-09-10 15:00] karlquint opened #63 "RSS feed validation by Apple with errors"
When validating the RSS feed with Apple Podcast Connect, there is an error message complaining about image size. While it works for google podcasts and Spotify, the Apple issue persists. I triple-checked that all images are within the specs.

I then tried to validate the generated RSS feed here:

- https://podba.se/validate/?url=https://growdeeper.co/growdeeperpodcast.rss
- https://www.castfeedval

[2022-09-12 16:41] jgonyea commented on #62
Fixed by making sure that all episodes live under a podcast-channel page (or a podcast-series, which lives under a podcast-channel).

[2022-09-12 16:41] #62 closed, assigned to nobody